body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333
}
*,
*:before,
*:after{
box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* Container */

.container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

/* intro */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../Images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
} 

.intro_title{
    margin-bottom: 20px;
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}

.intro_suptitle{
    color: #fff;
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

.intro_title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;
}

.intro_inner{
    width: 100%;
    min-width: 880px;
    margin: 0 auto;
    text-align: center;
}

/* header*/

.header{
    padding-top: 30px;
    width: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
}

.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* nav */
 .nav{
     font-size:14px;
     font-weight: 700;
 }

 .nav_link{
     display: inline-block;
     vertical-align: top;
     margin: 0 10px;
     position: relative;

     color: #fff;
     text-decoration: none;

     transition: color .1s linear;
 }

 .nav_link:after{
     content:"";
     display:block;
     width: 100%;
     height: 3px;
     opacity: 0;

     background-color: #fce38a;
     transition:opacity .1s linear;

     position: absolute;
     top:100%;
     left:0;
     z-index: 1;
 }

 .nav_link:hover{
     color:#fce38a
 }
 
 .nav_link:hover:after{
     opacity: 1;

 }
 /* Button */

 .btn{
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;
    font-weight: 700;
    text-decoration: none;


    border: 3px solid #fff;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    transition: back-ground .1s linear, color .1s linear;
 }

 .btn:hover{
    background-color: #fff;
    color: #333;
 }

 /* Slider*/

 .slider{
    width: 100%;
    position: absolute;
    bottom: 0;
    
    z-index: 1;
    justify-content: center;
 }

 .slider_inner{
    display: flex;
    justify-content: space-between;
 }

 .slider_item{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    width: 22%;
    padding: 20px;
    border-top: 3px solid #fff;
    opacity: .5;
    position: relative;

 }

 .slider_item.active{
    opacity:1;
 }

 .slider_item.active:before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    border-color: #f38181;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
 }

 .slider_num{
    font-size: 24px;
    font-weight: 700;

 }

 /* Section */
 .section{
    padding: 80px 0;
 }

 .section_header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
 }

.section_suptitle{
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.section_title{
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section_title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto 0;
    background-color: #f38181;
}  

.section_text{
    font-size: 15px;
    color: #999;
}

.about{
    display: flex;
    justify-content: space-between;
}

.about_item{
    width: 380px;
}

.about_item:hover .about_img{
    transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_img img{
    opacity: .1;
}

.about_img{
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform 1s linear;
}

.about_img img{
    display: block;
    transition: opacity 1s linear;
}


 /*закінчив відео на 20 хв*/